*{
    height:100%;
    width: 100%;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    padding: 15px;
    color: white;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    color:rgb(209, 216, 221);
}
.logo a{
    text-decoration: none;
    color:white;

}
nav ul{
    display: flex;
    gap:20px;
    list-style:none;
}
nav a{
    text-decoration: none;
}
.cont1{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position:relative;
}
.cont2{
    text-align:center;
    background-color: rgba(94, 90, 90, 0.6);
    color: white;
    padding: 20px;
}
h4{
    margin:20px;
    font-weight: 40px;
}
p{
    margin: 20px;
    font-weight: 20px;
}
.cont2 a{
    text-decoration: none;
    background-color: red;
    color: white;
    transition: ease-in-out;
}
.btn:hover{
    animation:increasebuttonsize 0.3 forwards;
}
@keyframes increasesbuttonsize{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.25);
    }
}