.hover-grow:hover {
    transform: scale(1.05);
}
.hover-grow:focus {
    transform: scale(1.05);
}
.wrap {
    word-wrap: break-word;
}
@keyframes animatepage {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.showpage {
    animation: animatepage 6s ease-in-out forwards;
    transform-origin: center; /* Ensures scaling happens from the center */
}

/* @keyframes bg-color-change {
    0% {
      background-color: #0e3fc6; 
    }
    50% {
      background-color: #1c7ed6;
    }
    100% {
      background-color: #0e3fc6; 
    }
  }

  .header {
    animation: bg-color-change 5s infinite;
  } */
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width:100%;
    height:100vh;
}
.container{
    display:flex;
}
.content{
    width:20%;
    background-color: blue;
    height:600px;
}
.images{
    width:80%;
    display:grid;
    background-color: blueviolet;
    height:600px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.image1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:3;
    background-color:aqua;
}
.image2{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end:4;
    background-color:aqua;
}
.image3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:6;
    background-color:aqua;
}
.image4{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end:7;
    background-color:aqua;
}
.image5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end:6;
    background-color:aqua;
}
.image6{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end:7;
    background-color:aqua;
}
@keyframes expandCircle {
    0% {
        width: 0;
        height: 0;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}

.expand-circle {
    position: absolute;
    background: #fff; /* or any color that matches your page */
    z-index: 1000; /* Ensure it is above the page content */
    animation: expandCircle 6s ease-in-out forwards;
}